.contact {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
  align-items: center;
  @include media($tablet) {
    grid-template-columns: 1fr;
  }
  img {
    width: max(26.875rem, 100%);
  }
  &__title {
    margin-bottom: 2.5rem;
  }
  p {
    max-width: 43.75rem;
    margin-bottom: 3.25rem;
  }
  &__form {
    display: flex;
    gap: 0.2rem;
    @include media($tablet) {
      width: 100%;
    }
    @include media($mobile) {
      flex-wrap: wrap;
    }
    input {
      font-weight: 400;
      font-size: 1rem;
      color: var(--color-main);
      padding: clamp(1rem, 2vw, 1.625rem) 1.875rem;
      border: 1px solid var(--color-main);
      border-radius: 0.625rem;
      width: clamp(20rem, 25vw, 28.125rem);
      @include media($laptop) {
      }
      @include media($tablet) {
        width: 100%;
      }
      @include media($mobile) {
        width: 100%;
      }
    }
    button {
      padding: 1.5625rem clamp(3rem, 5vw, 5rem);
      border-radius: 0.625rem;
      @include media($mobile) {
        width: 100%;
      }
    }
  }
}
