@import '../utils/mixins';
@import '../utils/media';

.nav {
  @include media($tablet) {
    position: absolute;
    left: -110%;
    opacity: 0;
    transition: left 0.3s;
  }
  &__items {
    gap: clamp(0.8rem, 3vw, 2rem);
  }
  &__link {
    font-weight: 500;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    color: var(--second-color);
    transition: opacity 0.3s;
    @include hover {
      opacity: 0.9;
    }
  }
}

.nav.open {
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: -1rem;
  bottom: 0;
  opacity: 1;
  z-index: 100;
  ul {
    display: grid;
    width: 65%;
    background: var(--black-lolor);
    height: 100vh;
    padding: 2rem;
    a {
      color: var(--white-color);
      font-size: 1.5rem;
    }
  }
}
