@import 'normalize.css';

@import './scss/globals/reset';
@import './scss/globals/vars';
@import './scss/globals/container';
@import './scss/globals/fonts';
@import './scss/globals/tailwind-classes';
@import './scss/globals/typography';

body {
  font-family: 'Open Sans';
  font-weight: 400;
  // font-size: 13px;
  line-height: 1.7;
  letter-spacing: 0.01em;
  color: #48555b;
  position: relative;
}


