.h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 95px;
  text-align: right;
}
.h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 43px;
}
.h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 35px;
}
