:root {
  --font-family: 'SF Pro Display', sans-serif;
  --second-family: 'Golos', sans-serif;
  --third-family: 'Rubik', sans-serif;

  --font-size: 1.25rem;
  --font-weight: 400;

  --container-w: 1113px;
  --container-p: 1rem;

  // color

  --ligth: #fff;
  --bg: #030202;
  --accent-color: #900000;
}
