:root {
  --font-family: 'Poppins', sans-serif;

  --container-w: 1338px;
  --container-p: 1rem;
  --section-p: clamp(2rem, 5vw, 4.5rem);

  --color-main: #8f95a5;
  --second-color: #263238;
  --black-lolor: #000;
  --white-color: #fff;
}
